body {
	padding-top: 70px;
	background-color: white;
}

.body {
	background-color: black;
	padding: 20px;
}

.gal {
	-webkit-column-count: 4; 
    -moz-column-count: 4; 
    column-count: 4;
}	
.gal img{
	width: 100%; padding: 7px 0;
}

@media (max-width: 768px) {
	.gal {
		-webkit-column-count: 2; 
		-moz-column-count: 2; 
		column-count: 2;
	}
}

@media (max-width: 500px) {
	.gal {
		-webkit-column-count: 1; 
		-moz-column-count: 1; 
		column-count: 1;
	}
}
